.custom-box {
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: pink;
}
.list {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    flex-direction: column;

    .MuiListItemText-root {
      width: 100%;
    }
  }
}

.list-item {
  transition: 0.3s ease background-color;
  color: #000;
  background-color: #fff;
  position: relative;
  border: 1px solid #989898;
  margin-top: 1;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  &.dragging {
    color: #fff;
    background-color: #000;
  }

  .list-item-text {
    display: flex;
    align-items: center;

    .text {
      width: 100%;
      word-break: break-word;
    }

    .icon-button {
      display: flex;
    }

    .delete-icon {
      color: #000;
    }

    .dragging & .delete-icon {
      color: #fff;
    }
  }
}
.selected-image-border {
  width: 100%;
  height: 100px;
}
